{% extends "main.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="/cliente/lista" class="btn btn-outline-warning">Voltar</a>
                </div>
                <div class="card-body">
                    <form id="form">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="name@example.com" autofocus required>
                                    <label for="nome">Digite seu nome *</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="sobrenome" name="sobrenome"
                                        placeholder="name@example.com" required>
                                    <label for="sobrenome">Digite sobre nome *</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="cpf" name="cpf"
                                        placeholder="name@example.com" required>
                                    <label for="cpf">Digite o seu CPF *</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="rg" name="rg"
                                        placeholder="name@example.com" required>
                                    <label for="rg">Digite seu RG *</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button id="salvar" class="btn btn-outline-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% include "script.html" %}
<script type="module" defer src="/js/customer.js"></script>
{% endblock %}