{% extends "main.html" %}

{% block main %}
<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Visão geral do negócio</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item active" aria-current="page">Início</li>
                </ol>
            </div>
        </div>
    </div>
</div>


{% endblock %}