{% extends "main.html" %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <a href="/usuario/cadastro" class="btn btn-success">Cadastrar</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="tabela">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Sobre nome</th>
                                <th>CPF</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% include "script.html" %}
<script defer type="module" src="/js/listuser.js"></script>
{% endblock %}