{% extends "main.html" %}
{% block main %}
<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">{{titulo}}</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item" aria-current="page"><a href="/home">Início</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/pagamento/lista">Pesquisa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{titulo}}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <form id="form">
                <input type="hidden" name="acao" id="acao" value="{{acao}}">
                <input type="hidden" name="id" id="id" value="{{id}}">
                <input type="hidden" name="id_parcelamento" id="id_parcelamento">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="/pagamento/lista" class="btn btn-warning">Voltar</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-md-12">
                                    <div class="form-floating">
                                        <select class="form-select" id="codigo" name="codigo">
                                            <option selected>Selecione uma condição de pagamento</option>
                                            <option {% if paymentTerms.codigo=='01' %} selected {% endif %} value="01">
                                                Dinheiro: Pagamento em espécie.</option>
                                            <option {% if paymentTerms.codigo=='02' %}selected{% endif %} value="02">
                                                Cheque: Pagamento em cheque.</option>
                                            <option {% if paymentTerms.codigo=='03' %}selected{% endif %} value="03">
                                                Cartão de Crédito: Requer dados da operadora.</option>
                                            <option {% if paymentTerms.codigo=='04' %}selected{% endif %} value="04">
                                                Cartão de Débito: Requer dados da operadora.</option>
                                            <option {% if paymentTerms.codigo=='10' %}selected{% endif %} value="10">
                                                Vale Alimentação, 11 - Refeição, 12 - Presente, 13 - Combustível: Vales
                                                específicos.</option>
                                            <option {% if paymentTerms.codigo=='15' %}selected{% endif %} value="15">
                                                Boleto Bancário: Pagamento via boleto.</option>
                                            <option {% if paymentTerms.codigo=='17' %}selected{% endif %} value="17">PIX
                                            </option>
                                            <option {% if paymentTerms.codigo=='90' %}selected{% endif %} value="90">Sem
                                                pagamento: Para operações sem circulação financeira.</option>
                                            <option {% if paymentTerms.codigo=='99' %}selected{% endif %} value="99">
                                                Outros: Pagamentos não listados. </option>
                                        </select>
                                        <label for="codigo">Condição de pagamento EX: (Dinheiro)</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-md-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="titulo" name="titulo"
                                            placeholder="name@example.com" value="{{paymentTerms.titulo}}">
                                        <label for="titulo">Titulo condição pagamento EX: (Dinheiro)</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-md-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="atalho" name="atalho"
                                            placeholder="name@example.com" value="{{paymentTerms.atalho}}">
                                        <label for="atalho">Atalho teclado EX: (F6)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <h4>Parcelamento</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-md-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="parcela" name="parcela"
                                            placeholder="name@example.com">
                                        <label for="parcela">Quantidade de parcelas</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-md-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="intervalo" name="intervalo"
                                            placeholder="name@example.com">
                                        <label for="intervalo">Intervalo em dias EX: (30 dias)</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-md-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="vencimento_incial_parcela"
                                            name="vencimento_incial_parcela" placeholder="name@example.com">
                                        <label for="vencimento_incial_parcela">Altera a data de venc. parcela EX: (20
                                            dias)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button id="insertInstallmentButton" type="button"
                                        class="btn btn-info mb-3">Adicionar</button>
                                </div>
                                <div class="col-12">
                                    <table class="table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Parcelas</th>
                                                <th>Intervalor em (Dias)</th>
                                                <th>Alterar venc. inicial (Dias)</th>
                                                <th>Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbInstallments">
                                            <tr>
                                                <td class="text-center" colspan="5">Nenhuma parcela cadastrada</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="insertPaymentoTermsButton" type="button" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% include 'script.html' %}
<script defer type="module" src="/js/paymentterms.js"></script>
{% endblock %}